<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}" href="../static/">
    <link rel="stylesheet" href="change.css">
    <script src="test.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--此处用来存放变量-->
    <script type="text/javascript">
        thisYear = [[${ThisDateYear}]];
        thisMonth = [[${ThisDateMonth}]];
        thisWeek = [[${ThisDateWeek}]];
        thisDay = [[${ThisDateDay}]];
        thisType = [[${type}]];
    </script>

    <script type="text/javascript">

        $(function () {
            $("#year_btn").click(function () {
                $.ajax({
                    url: "/main/chart/fresh",
                    type:"POST",
                    // type 0代表是CO2
                    contentType:"application/json;charset=UTF-8",
                    data:JSON.stringify({account:1,type:thisType,thisDate:{
                        year:thisYear
                        }}),
                    success:function (response) {
                        console.log(response.pieData)
                        myChart2.setOption({
                            series: [{
                                data: response.pieData
                            }]
                        })
                    },
                    dataType:"json",
                })
            })
        })
    </script>
</head>
<body>
    <div class="total">
        <div class="f1">
            <div class="f1_1">
                <img src="picture/电.png" alt="Paris" >
            </div>
            能源管理-智慧能碳管理平台
        </div>
        <div class="f2">
            <div class="f2_1">
                <div class="f2_1_1">
                    
                    <img src="picture/电.png" alt="Paris" width="40" height="40" align-items="center">
        
                    系统导航栏
                </div>
                <div class="f2_1_2">
                    <div class="f2_1_2_1">
                        <div class="f2_1_2_1-button-1">
                            <img src="picture/水表.png" alt="Paris" width="20" height="20" align-items="center">
                            用水总览
                        </div>
                        <div class="f2_1_2_1-button-2">
                            <img src="picture/电表.png" alt="Paris" width="20" height="20" align-items="center">
                            用电总览
                        </div>
                        <div class="f2_1_2_1-button-3">
                            <img src="picture/水表.png" alt="Paris" width="20" height="20" align-items="center">
                            碳排放总览
                        </div>
                        <div class="f2_1_2_1-button-4">
                            <img src="picture/报表.png" alt="Paris" width="20" height="20" align-items="center">
                            报表
                        </div>
                        <div class="f2_1_2_1-button-5">
                            <img src="picture/水表.png" alt="Paris" width="20" height="20" align-items="center">
                            数据分析
                        </div>
                        <div class="f2_1_2_1-button-6">
                            <img src="picture/水表.png" alt="Paris" width="20" height="20" align-items="center">
                            实时报修
                        </div>
                    </div>
                    <div class="f2_1_2_2">

                    </div>
                </div>
            </div>
            <div class="f2_2">
                <div class="f2_2_1">
                    <div class="f2_2_1_1_select">
                        <button class="myButton" th:id="year_btn" >年</button>
                        <button class="myButton" th:id="month_btn">月</button>
                        <button class="myButton" th:id="week_btn" >本月</button>
                        <button class="myButton" th:id="day_btn"  >日</button>

                        <form>
                            <label for="textbox">年</label>
                            <input type="text" id="textbox" name="textbox">
                            <label for="textbox">月</label>
                            <input type="text" id="textbox" name="textbox">
                            <label for="textbox">日</label>
                            <input type="text" id="textbox" name="textbox">
                            <input type="submit" value="提交">
                        </form>
                    </div>
                    <div class="f2_2_1_2">
                        <div class="f2_2_1_2_1">
                            <div class="f2_2_1_2_1_1">
                                <div class="f2_2_1_2_1_1_buttom_left">
                                    <img src="picture/left.png" alt="Paris"  align-items="center">
                                </div>
                            </div>

                            

                            <div class="f2_2_1_2_1_2" id="f2_2_1_2_1_2">
                                
                            </div>
                            <div class="f2_2_1_2_1_3" id="f2_2_1_2_1_3">
                                
                            </div>
                            <div class="f2_2_1_2_1_4">
                                <div class="f2_2_1_2_1_4_buttom_right">
                                    <img src="picture/right.png" alt="Paris"  align-items="center">
                                </div>
                            </div>
                        </div>
                        <div class="f2_2_1_2_2" id="f2_2_1_2_2">
                            <canvas id="canvas_f2_2_1_2_2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="f2_2_2">
                    <div class="f2_2_2_1" id="f2_2_2_1">
                      
                        <p>今年 <span class="f2_2_2_1_1" id="年">100</span> mm</p>
                        <p>今月 <span class="f2_2_2_1_1">100</span> mm</p>
                        <p>今周 <span class="f2_2_2_1_1">100</span> mm</p>
                        <p>今日 <span class="f2_2_2_1_1">100</span> mm</p>
                       
                    </div>
                    <div class="f2_2_2_2">
                        <div class="f2_2_2_2_1">
                            异常总结
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
